section:nth-of-type(1) ul {
	display: flex;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	padding: 0;
	list-style-type: none;
	overscroll-behavior-x: contain;
	scrollbar-width: none;
	scroll-marker-group: after;
	gap: 1em;
}

section:nth-of-type(1) li{
	flex-basis: 100%;
	flex-shrink: 0;
	scroll-snap-align: center;
}

section:nth-of-type(1) ul::scroll-marker-group {
		margin: 1em 3.5em 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
		row-gap:.25em;
		column-gap:.5em;
	}

section:nth-of-type(1) li::scroll-marker {
		content: '' / 'naar' attr(data-label);
		width:0.5em;
		aspect-ratio:1;
		background-color:var(--bolletjescolor2);
		border-radius:50%;
	
		transition:.25s;
	}
	section:nth-of-type(1) li::scroll-marker:target-current{
		background: var(--bolletjescolor1);
	
	}
section:nth-of-type(1) h3 {
	font-family: "Inter", sans-serif;
	font-size: small;
	font-weight: 300;
	font-style: normal;
	position: absolute;
	top: 36rem;
	margin-left: 0.5em;
	color: var(--lijstje-tekst);
	background-color: var(--backgroundcolor2);
	border-radius: 2em;
	padding: 0.6em;
}
section:nth-of-type(1) h2{
	font-family: "Inter", sans-serif;
	font-size: large;
	font-weight: 600;
	font-style: normal;
	margin-left: 1em;
	margin-bottom: 0em;
}
section:nth-of-type(1) p {
	margin-left: 1.4em;
}
section:nth-of-type(1) p:nth-of-type(1) {
	font-family: "Inter", sans-serif;
	font-size: small;
	font-weight: 300;
	font-style: normal;
	margin-bottom: 0em;
}
section:nth-of-type(1) p:nth-of-type(2) {
	font-family: "Inter", sans-serif;
	font-size: small;
	font-weight: 600;
	font-style: normal;
	margin-bottom: 0em;
}
section:nth-of-type(1) p:nth-of-type(3) {
	font-family: "Inter", sans-serif;
	font-size: small;
	font-weight: 300;
	font-style: normal;
	background-color: var(--backgroundcolor1);
	margin: 1em;
	padding: 1em;
}
section:nth-of-type(1) button {
	background-color: var(--backgroundcolor2);
	font-family: "Inter", sans-serif;
	font-size: small;
	font-weight: 300;
	font-style: normal;
	color: var(--lijstje-tekst);
	border: none;
	display: block;
	margin: 1em auto;
	width: 93%;
    padding: 1em;
}

/****************************/
/*section 2*/
/***************************/

section:nth-of-type(2) ul{
    list-style-type: none;
    display: flex;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	padding: 0;
	list-style-type: none;
	overscroll-behavior-x: contain;
	scrollbar-width: none;
	scroll-marker-group: after;
	gap: 1em;
    margin-left: 1em;
}
section:nth-of-type(2) li{
	flex-basis: 100%;
	flex-shrink: 0;
	scroll-snap-align: center;
}

section:nth-of-type(2) ul::scroll-marker-group {
    margin: 1em 3.5em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    row-gap:.25em;
    column-gap:.5em;
}

section:nth-of-type(2) li::scroll-marker {
    content: '' / 'naar' attr(data-label);
    width:0.5em;
    aspect-ratio:1;
    background-color:var(--bolletjescolor2);
    border-radius:50%;

    transition:.25s;
}
section:nth-of-type(2) li::scroll-marker:target-current{
    background: var(--bolletjescolor1);

}
section:nth-of-type(2) h2 {
    font-family: "Inter", sans-serif;
	font-size: small;
	font-weight: 600;
	font-style: normal;
}
section:nth-of-type(2) p {
    font-family: "Inter", sans-serif;
	font-size: small;
	font-weight: 300;
	font-style: normal;
}
/*****************/
/*meer over dit product knop*/
/*****************/
section:nth-of-type(3) {
	border: 0.1em solid var(--randcolor);
	margin-top: 1em;
}
 details summary{
	list-style: none;
	font-family: "Inter", sans-serif;
	font-size: medium;
	font-weight: 600;
	font-style: normal;
	background-color: var(--button-color);
	margin: 1em;
	
 }
 details {
	font-family: "Inter", sans-serif;
	font-size: small;
	font-weight: 400;
	font-style: normal;
	margin-left: 1em;
 }
 summary::after {
	content: '+';
	margin-left: 5em;
	font-size: x-large;
	

	
 }
 details[open] summary:after {
	content: '-';
	
 }

/************/
/* section 4*/
/************/


section:nth-of-type(7) {
    margin-bottom: 2em;
}
section:nth-of-type(7) p{
    font-family: "Inter", sans-serif;
	font-size: small;
	font-weight: 300;
	font-style: normal;
    text-align: center;
    color: var(--text-color);
    background-color: var(--backgroundcolor1);
    padding: 1em;
}