/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
    --text-color: #878787;
	--lijstje-tekst: white;
	--color-background: #eee;
	--backgroundcolor1: #F2F2F2;
	--button-color: white;
	--link-color: grey;
	--backgroundcolor2: #111;
	--bolletjescolor1:#111;
	--bolletjescolor2:grey;
	--randcolor:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/****************/ 
/* de navigatie */
/****************/

nav ul {
	display: flex;
	list-style-type: none;
	position: sticky;
	top: 0;
	padding: 0;
	align-items: center;
	justify-content: space-between;
}

nav a {
	font-family: "Inter", sans-serif;
	font-size: 1em;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	color: var(--color-text);
}

.artikelen h2 {
    font-family: "Inter", sans-serif;
	font-size: 1rem;
	font-weight: 600;
	font-style: normal;
	margin-left: 1em;
	margin-top: 1em;
}

.artikelen ul {
    display: flex;
	list-style-type: none;
	padding: 0;
	gap: 1em;
	overflow: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.artikelen ul::-webkit-scrollbar {
	display: none;
}

.artikelen li {
	position: relative;
	flex-basis: 40%;
	flex-shrink: 0;
	scroll-snap-align: center;
}
.artikelen h3 {
	font-family: "Inter", sans-serif;
	font-size: small;
	font-weight: 300;
	font-style: normal;
	position: absolute;
	top: 11rem;
	margin-left: 0.5em;
	color: var(--lijstje-tekst);
	background-color: var(--backgroundcolor2);
	border-radius: 1em;
	padding: 0.4em;
}
.artikelen p {
	font-family: "Inter", sans-serif;
	font-size: small;
	font-weight: 300;
	font-style: normal;
	margin-left: 0.5em;
	margin-bottom: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

}

.artikelen p:nth-of-type(1) {
	font-weight: 600;
}

.artikelen p:nth-of-type(2) {
	font-weight: 400;
}

.artikelen p:nth-of-type(3) {
	font-weight: 600;
}
.artikelen img{
    width: 10em;
    height: 14em;
}
@media (min-width: 1000px) {
	.artikelen ul {
		display: flex;
		list-style-type: none;
		padding: 0;
		gap: 0em;
		overflow: auto;
		margin-left: 1em;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
	}
	.artikelen li {
		position: relative;
		flex-basis: 12%;
		flex-shrink: 0;
		scroll-snap-align: center;
	}
	
	.artikelen h3 {
		font-family: "Inter", sans-serif;
		font-size: small;
		font-weight: 300;
		font-style: normal;
		position: absolute;
		top: 11rem;
		margin-left: 0.5em;
		color: var(--lijstje-tekst);
		background-color: var(--backgroundcolor2);
		border-radius: 1em;
		padding: 0.4em;
	}
}
/*****************/
/* de footer */
/*****************/

footer h2 {
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	font-weight: 600;
	font-style: normal;
	margin-left: 1em;
}

footer p {
	font-family: "Inter", sans-serif;
	font-size: 0.8rem;
	font-weight: 300;
	font-style: normal;
	margin-left: 1em;
}

footer button {
	align-items: center;
	padding-left: 10em;
	padding-right: 10em;
	padding-top: 1em;
	padding-bottom: 1em;
	font-weight: 600;
    background-color: var(--backgroundcolor2);
    color: var(--lijstje-tekst);
    font-family: "Inter", sans-serif;
	font-size: 0, 5rem;
	font-weight: 400;
	font-style: normal;
}

footer ul:nth-of-type(1) {
	list-style-type: none;


}

footer ul:nth-of-type(1) a {
	text-decoration: none;
	color: var(--link-color);
	font-family: "Inter", sans-serif;
	font-size: 0, 5rem;
	font-weight: 300;
	font-style: normal;
	padding: 0;

}

footer li:nth-of-type(1) {
	padding-bottom: 1em;
}

footer li:nth-of-type(2) {
	padding-bottom: 1em;
}

footer li:nth-of-type(3) {
	padding-bottom: 1em;
}

footer li:nth-of-type(4) {
	padding-bottom: 1em;
}

footer li:nth-of-type(5) {
	padding-bottom: 1em;
}

footer li:nth-of-type(6) {
	padding-bottom: 1em;
}

footer ul:nth-of-type(2) {
	list-style-type: none;
	display: flex;
	justify-content: center;
	gap: 1em;
}

footer img {
	width: 16px;
	height: 16px;
}

footer ul {
	padding: 1em;
}